<form >
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name = "text" id="text" placeholder="Add Task">
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name = "text" id="day" placeholder="Add Day & Time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">reminder</label>
        <input type="checkbox" name = "reminder" id="reminder" placeholder="Add Reminder">
    </div>
    <input type="submit" class="btn btn-block" id="">
</form>